[mysqld]
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci
character-set-client-handshake = ON
skip-character-set-client-handshake = OFF
init_connect = 'SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci'

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
